<!-- <input id="freqSlider" type="range" min="20" max="22050" [(ngModel)]="freqVal" step="0.01" (input)="onSliderInputEvent()"
/>
<input id="qSlider" type="range" min="0.05" max="15" [(ngModel)]="qVal" step="0.01" (input)="onSliderInputEvent()"
/>
<input id="gainSlider" type="range" min="-20" max="20" [(ngModel)]="gainVal" step="0.01" (input)="onSliderInputEvent()"
/> -->
<canvas #graphCanvas id="mixer" width="850" height="650" (mousedown)="onMouseDown($event)">Your browser does not support HTML5 Canvas.</canvas>